{% extends "base.html" %}
{% import "components.html" as components %}

{% block head %}
<title>Posts - {{~ owner.name|capitalize }}</title>
<meta property="og:title" content="Posts - {{~ owner.name|capitalize }}" />
<meta property="od:url" content="https://honnip.page/posts" />
<meta property="og:type" content="website" />
{% endblock %}

{% block header %}
{% call components::header() %}
{% endblock %}

{% block content %}
<h1>목록</h1>
<ul>
    {% for post in posts %}
    <li><a href="/posts/{{ post.slug }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block footer %}
{% call components::footer(owner.name) %}
{% endblock %}
