{% extends "base.html" %}
{% import "components.html" as components %}

{% block head %}
<title>{{ post.title ~}} - {{~ author.name|capitalize }}</title>
<link rel="stylesheet" href="/starry-night.css" />
<meta property="og:title" content="{{ post.title }}" />
<meta property="od:url" content="https://honnip.page/posts/{{ post.slug }}" />
<meta property="og:type" content="article" />
<meta property="article:author" content="{{ author.name|capitalize }}" />
<meta property="article:published_time" content="{{ post.published_at }}" />
<meta property="article:modified_time" content="{{ post.updated_at }}" />
{% for label in post.labels %}
<meta property="article:tag" content="{{ label.name }}" />
{% endfor %}
<link rel="preconnect" href="https://giscus.app">
<link rel="dns-prefetch" href="https://giscus.app">
{% endblock %}

{% block header %}
{% call components::header() %}
{% endblock %}

{% block content %}
<header>
    <h1>{{ post.title }}</h1>
    <time datetime="{{ post.published_at }}">{{ post.published_at }}</time> 게시 (<time
        datetime="{{ post.updated_at }}">{{ post.updated_at }}</time> 수정)
    <ul class="tags">
        {% for label in post.labels %}
        {% match label.description %}
        {% when Some with (desc) %}
        <li><a class="tag" style="background-color: #{{ label.color }}2E;" href="/tags/{{ label.name }}"
                title="{{ desc }}">
                {{ label.name }}</a></li>
        {% when None %}
        <li><a class="tag" style="background-color: #{{ label.color }}2E;" href="/tags/{{ label.name }}">{{ label.name
                }}</a></li>
        {% endmatch %}
        {% endfor %}
    </ul>
</header>
{{ post.body }}
<details class="comments">
    <summary>댓글 표시/숨기기</summary>
    <script src="https://giscus.app/client.js" data-repo="honnip/website" data-repo-id="R_kgDOM_0RIQ"
        data-mapping="number" data-term="{{ post.number }}" data-reactions-enabled="1" data-emit-metadata="0"
        data-input-position="bottom" data-theme="preferred_color_scheme" data-lang="ko" data-loading="lazy"
        crossorigin="anonymous" referrerpolicy="no-referrer" async>
        </script>
</details>
{% endblock %}

{% block footer %}
{% call components::footer(owner.name) %}
{% endblock %}